.btn_link,.btn_link:hover {
    height: auto;
    font-size: 15px;
    background-color: transparent;
    border: none;
    padding-left: 0;
    padding-right: 0;
}

.extra,.extra:focus,.extra:active,.extra:visited{
    color: #175199;
}
.extra:hover {
    color: #0f88eb;
    border-bottom: solid 1px #0f88eb;
}