.card {
    width: 1000px;
    margin: 0 auto;
    margin: 10px auto;
}
.content {
    margin: 0px;

}
.cover {
    height: 240px;
    margin: -24px -32px 0 -32px;
    background-color: #c4c4c4;
}

.main {
    position: relative;
}

.details {
    display: inline-block;
    margin-left: 30px;
    position: relative;
    top: -20px;
}



/* PhotoEdit */
.avatar {
    position: relative;
    margin-top: -80px;
    display: inline-block;
}

.avatar_photo {
    position: relative;
    height: 160px;
    width: 160px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 0 0 6px #fff, 0 0 0 7px #ccc;
}

.avatar_edit {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.avatar_edit:hover {
    opacity: 1;
    background: rgba(0, 0, 0, .4);
}

.avatar_edit:after {
    content:'修改我的头像';
    position: absolute;
    width: 100%;
    bottom: 50px;
    z-index: 243;
    color: #fff;
    text-align: center;
}

.camera {
    position: absolute;
    width: 100%;
    top: 50px;
    color: #fff;
    text-align: center;
}

/* FileUpload  */
.input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

